body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.search-container {
    background: #333;
    color: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-container input, .search-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#submit-button {
    text-align: center;
}

#submit-button button {
    background: #e8491d;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#submit-button button:hover {
    background: #333;
}

.car-info {
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.car-info img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.car-info h2 {
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.price div {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
